/* ---------------------------HOME CSS------------------ */
.background-wrapper {
  height: 40vh;
  display: grid;
  place-items: center;
}
.search-bar {
  border: 0;
  padding: 0.4rem;
  font-size: 3vh;
  border-radius: 25px;
  text-align: center;
  box-shadow: 5px 10px 20px black;
}
.search-bar:focus{
  outline-width: 0;
}
.totalResults {
  text-align: center;
}
/* ---------------------------RESULTS CSS------------------ */


/* ----------------------SINGLE RESULT CSS------------------ */
