/* ---------------------------GLOBALS CSS------------------ */

/* color palet:
  #BBE2F2 is light blue
  #062601 is black
  #0F4001 is darkest green
  #4F7302 is midle green
  #B0C90B
   */
/* body {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
} */

li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
}

ul li {
  padding: 1rem 0.5rem;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}


/* ---------------------------HEADER CSS------------------ */
#header, #the-footer{
  left: 0;
  right: 0;
  /* background-color: transparent; */
  color: white;
  text-align: left;
  height: 4rem;
  z-index: 2;
  position: fixed;
  font-family: 'Poppins', sans-serif;
  /* background:#225470;
  opacity:0.85; */
}

#header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  top: 0;
  background-color: black;
  height: 64px;
}

nav {
  color: white;
}

nav a.active {
  color: cornflowerblue;
}

.nav-links {
  display: flex;
  align-items:center;
  list-style-type: none;
  margin-right: 30px;
  margin-top:10px;
}


/* ---------------------------FOOTER CSS------------------ */

#the-footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: black;
}

.footer-links {
display: flex;
place-items: center;
justify-content: space-evenly;
}

/* ---------------------------HOMEPAGE------------------ */


/* Home Autocomplete */

.pac-item-query { font-size: 16px; }
.pac-item { 
  font-size: 16px;
}
.pac-container { 
  font-size: 18px; 
  font-family: 'Poppins', sans-serif;
  margin-top: 4px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.pac-item-matched { font-size: 16px; }