/* ---------------------------GLOBALS CSS------------------ */

/* color palet:
  #BBE2F2 is light blue
  #062601 is black
  #0F4001 is darkest green
  #4F7302 is midle green
  #B0C90B
   */
body {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
}

ul li {
  padding: 1rem 0.5rem;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}


/* ---------------------------HEADER CSS------------------ */
#header, #the-footer{
  width: 100vw;
  background-color: transparent;
  color: white;
  text-align: left;
  height: 4rem;
}

nav {
  color: white;
}

nav a.active {
  color: cornflowerblue;
}

/* ---------------------------FOOTER CSS------------------ */

#the-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: right;
}

