.outer-wrapper {
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  padding-left: 20vw;
	padding-right: 20vw;
	place-items: center;
}
.inner-wrapper {
  background-color: white;
  color: black;
  box-shadow: 5px 10px 20px black;
	box-shadow: 5px 10px 20px black;
	max-width: 400px;
}

.results-filters {
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  margin-top: 20px;
  margin-left: 20vw;
  margin-right: 20vw;
  height: 64px;
  margin-bottom: 20px;
}

.totalResults {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  padding: 20px;
}

.google-image{
  width: 100%;
}

.text-wrapper {
  padding: 10px;
  min-height: 300px;
}

select {
  max-width: 200px;
  border: none;
  background-color: white;
  font-size: 1.1rem;
}

select option:hover{
  background-color: cornflowerblue;
}

#filtersDiv {
  color: white;
  padding: 20px;
}

label {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  margin-right: 5px;
  padding-left: 10px;
}
